<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>order home</title>
</head>

<body>
    <h2><span th:text="${restaurant.name}"></span> 注文確認画面</h2>

    <table>
        <thead>
        <tr>
            <th>料理名</th>
            <th>単価</th>
            <th>個数</th>
            <th>金額</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dish, iter : ${dishes}">
            <td th:text="${dish.name}"></td>
            <td th:text="${dish.price}"></td>
            <td th:text="${numbers[iter.index]}"></td>
            <td th:text="${prices[iter.index]}"></td>
        </tr>
        </tbody>
    </table>

    <h2>合計金額 : <span th:text="${customer.totalMoney}"></span>円</h2>

    <form th:action="@{/order/home(restaurantId=${restaurant.id}, seatId=${customer.seatId})}" method="post">
        <button type="submit">注文画面に戻る</button>
    </form>

</body>