<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new Customer</title>
    <script src="/js/qrFunc.js" defer></script>
</head>

<body>
<div th:each="i : ${#numbers.sequence(1, restaurant.seatNum)}">
    席<input type="checkbox" name="seat" th:value="${i}" th:text="${i}" th:checked="${i == 1}">
</div>

<div id="selectedSeat">
    <h3><span id="selectedSeatName"></span></h3>
</div>

<div id="qr-content">
    <div th:each="i : ${#numbers.sequence(1, restaurant.seatNum)}">
        <div th:id="'contents-' + ${i}" class="contents" style="display: none;">
            <p th:text="${i}"></p>
        </div>
    </div>
</div>

    <a th:href="@{/restaurant/{id}/home(id=${restaurant.id})}">Homeに戻る</a>
</body>