<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new Customer</title>
</head>

<body>
    <table border="1">
        <form th:action="@{/restaurant/{id}/Customer/Add(id=${restaurant.id})}" method="post">
            <tr th:each="i : ${#numbers.sequence(1, restaurant.seatNum)}">
                <div>
                    席番号 : <span th:text="${i}"></span>
                </div>

                <div th:if="${customers.containsKey(i)}">
                    注文開始日時 : <span th:text="${customers.get(i).registrationDate}"></span>
                    合計金額 : <span th:text="${customers.get(i).totalMoney}"></span>
                </div>

                <div th:if="${!customers.containsKey(i)}">
                    <button type="submit" name="seatId" th:value="${i}">
                        <span th:text="${i}"></span>を追加
                    </button>
                </div>
            </tr>
        </form>
    </table>

    <a th:href="@{/restaurant/{id}/home(id=${restaurant.id})}">Homeに戻る</a>
</body>