<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customer home</title>
</head>

<body>
    <p th:text="${message}"></p>
    <h2><span th:text="${restaurant.name}"></span> 様</h2>
    <form th:action="@{/restaurant/{id}/handleBtn(id=${restaurant.id})}" method="post">
        <button type="submit" name="action" value="viewCustomer">注文状況の確認</button>
        <button type="submit" name="action" value="makeQRcode">QRコードの確認、更新</button>
        <button type="submit" name="action" value="modifyDish">メニューの修正</button>
        <button type="submit" name="action" value="modifyInfo">店舗情報の修正</button>
    </form>
</body>